<body>


<div class="row-fluid text-center">
  <label>Please enter your phone number:</label>
 <div class="slidecontainer">
  <input type="range" min="10000000000" max="19999999999" value="" class="slider" id="myRange">
  <p> <span id="demo"></span></p>
</div>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

</body>
</html>